@using WebApplication1.Models;
@model List<StaffList>

@{
    ViewBag.Title = "Staff List Page";
}

<div class="page-title">
    <h3>
        員工資料清單
    </h3>
</div>

<table class="table">
    <thead>
        <tr>
            <th>編號</th>
            <th>名稱</th>
            <th>日期</th>
            <th>性別</th>
            <th>服兵役</th>
            <th>交通方式</th>
            <th>地址縣市</th>
            <th>地址鄉鎮</th>
            <th>地址門牌</th>
        </tr>
    </thead>
    <tbody>
        @foreach (StaffList ppm99 in Model)
        {
            <tr>
                <th>@ppm99.ppm99_stfn</th>
                <th>@ppm99.ppm99_name</th>
                <th>@ppm99.ppm99_jdate</th>
                <th>@ppm99.ppm99_gender</th>
                <th>@ppm99.ppm99_military</th>
                <th>@ppm99.ppm99_transportList</th>
                <th>@ppm99.ppm99_city</th>
                <th>@ppm99.ppm99_zone</th>
                <th>@ppm99.ppm99_addr</th>
                <th>@Html.ActionLink("編輯", "UpdateStaffDetail", "HRDetail", new { id = ppm99.ppm99_stfn }, null)</th>
            </tr>
        }
    </tbody>
</table>
