@model WebApplication1.Models.StaffDetail

@{
    ViewBag.Title = "Contact";
}

<div class="page-title">
    <h3>
        更新員工資料
    </h3>
</div>

<br />  
<form action="/HRDetail/UpdateStaffDetail" method="post">

    <table class="table">
        <tr>
            <th>
                編號
            </th>
            <td>
                <input type="text" name="ppm99_stfn" value="@Model.ppm99_stfn" readonly />
            </td>
        </tr>
        <tr>
            <th>
                名字
            </th>
            <td>
                <input type="text" name="ppm99_name" value="@Model.ppm99_name" />
            </td>
        </tr>
        <tr>
            <th>
                日期
            </th>
            <td>
                <input type="text" name="ppm99_jdate" value="@Model.ppm99_jdate" />
            </td>
        </tr>
        <tr>
            <th>
                性別
            </th>
            <td>
                <input type="text" name="ppm99_gender" value="@Model.ppm99_gender" />
            </td>
        </tr>
        <tr>
            <th>
                服兵役
            </th>
            <td>
                <input type="text" name="ppm99_military" value="@Model.ppm99_military" />
            </td>
        </tr>
        <tr>
            <th>
                交通方式
            </th>
            <td>
                <input type="text" name="ppm99_transportList" value="@Model.ppm99_transportList" />
            </td>
        </tr>
        <tr>
            <th>
                地址縣市
            </th>
            <td>
                <input type="text" name="ppm99_city" value="@Model.ppm99_city" />
            </td>
        </tr>
        <tr>
            <th>
                地址鄉鎮
            </th>
            <td>
                <input type="text" name="ppm99_zone" value="@Model.ppm99_zone" />
            </td>
        </tr>
        <tr>
            <th>
                地址門牌
            </th>
            <td>
                <input type="text" name="ppm99_addr" value="@Model.ppm99_addr" />
            </td>
        </tr>
    </table>

    <button type="submit" name="submitButton" value="update">保存</button>
    <button type="submit" name="submitButton" value="cancel">取消</button>
</form>