@model WebApplication1.Models.StaffDetail

@{
    ViewBag.Title = "Contact";
}

<div class="page-title">
    <h3>
        更新員工資料
    </h3>
</div>

<br />  
<form action="/HRDetail/UpdateStaffDetail" method="post">

    <table class="table">
        <tr>
            <th>
                編號
            </th>
            <td>
                <input type="text" name="ppm99_stfn" value="@Model.ppm99_stfn" >
            </td>
        </tr>
        <tr>
            <th>
                名字
            </th>
            <td>
                <input type="text" name="ppm99_name" value="@Model.ppm99_name" />
            </td>
        </tr>
        <tr>
            <th>
                日期
            </th>
            <td>
                <input type="text" name="ppm99_jdate" value="@Model.ppm99_jdate" />
            </td>
        </tr>
        <tr>
            <th>
                性別
            </th>
            <td>
                <input type="radio" name="ppm99_gender" value="M" @(Model.ppm99_gender == "M" ? "checked" : "") /> 男
                <input type="radio" name="ppm99_gender" value="F" @(Model.ppm99_gender == "F" ? "checked" : "") /> 女
            </td>
        </tr>
        <tr>
            <th>
                服兵役
            </th>
            <td>
                <select name="ppm99_military">
                    <option value="" >未填寫</option>
                    <option value="1" @(Model.ppm99_military == "1" ? "selected" : "")>役畢</option>
                    <option value="2" @(Model.ppm99_military == "2" ? "selected" : "")>免役</option>
                    <option value="3" @(Model.ppm99_military == "3" ? "selected" : "")>未役</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                交通方式
            </th>
            <td>
                <label><input type="checkbox" name="ppm99_transportList" value="1" @(Model.ppm99_transportList?.Contains("1") == true ? "checked" : "")>機車</label>
                <label><input type="checkbox" name="ppm99_transportList" value="2" @(Model.ppm99_transportList?.Contains("2") == true ? "checked" : "")>汽車</label>
                <label><input type="checkbox" name="ppm99_transportList" value="3" @(Model.ppm99_transportList?.Contains("3") == true ? "checked" : "")>公車</label>
                <label><input type="checkbox" name="ppm99_transportList" value="4" @(Model.ppm99_transportList?.Contains("4") == true ? "checked" : "")>火車</label>
            </td>
        </tr>
        <tr>
            <th>
                地址縣市
            </th>
            <td>
                <input type="text" name="ppm99_city" value="@Model.ppm99_city" />
            </td>
        </tr>
        <tr>
            <th>
                地址鄉鎮
            </th>
            <td>
                <input type="text" name="ppm99_zone" value="@Model.ppm99_zone" />
            </td>
        </tr>
        <tr>
            <th>
                地址門牌
            </th>
            <td>
                <input type="text" name="ppm99_addr" value="@Model.ppm99_addr" />
            </td>
        </tr>
    </table>

    <button type="submit" name="submitButton" value="update">保存</button>
    <button type="submit" name="submitButton" value="cancel">取消</button>
</form>